<nav>
  <h1><a href="/">{{ site.theme.title }}</a></h1>
  <h3>{{ site.theme.tagline }}</h3>
  <hr/>
  
  <p>
    I am Vincent Theron. Born in Paris, France, I now work as a software engineer in Boston, MA.
  </p>
  <p>
    I earned my Master's Degree in Computer Science and Engineering at Université Paris-Est Marne-la-Vallée in June 2008. I started developing software professionally in 2007, and since then, I have had the opportunity to work in a lot of different industries and to build all kinds of applications (from online sport betting platform to real time trading software to social search engines).
  </p>
  
  <hr/>
  
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
</nav>
