body {
  background-color: #f5f5f5;
}

#container {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

#footer {
  text-align: center;
  color: #aaa;
}

h2 a { color: #333; }

#sidebar .panel-heading { 
  text-align: center; 
  background-color: #f5f5f5;
}

#sidebar .panel-body { padding: 10px; }

.post-meta { color: #aaa; }

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

article h2 { border-bottom: 1px solid #333; }

/*.highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre { overflow-x: auto; }
.highlight pre code { display: block; white-space: pre; word-wrap: normal; }*/

div.scrollable-code {
  overflow: auto; 
  margin: 0 0 11px; 
}

table.highlighttable { min-width: 100% }

table.highlighttable pre { margin: 0 }

table.highlighttable .linenodiv pre { 
  color: #ccc; 
  word-break: normal; 
}

