body {
  background-color: #d9edf7;
}

.container {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.post-meta {
  color: #aaa;
}

#footer {
  text-align: center;
  color: #aaa;
}

.panel-heading {
  text-align: center;
}

.highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre { overflow-x: auto; }
.highlight pre code { display: block; white-space: pre; word-wrap: normal; }


.highlighttable .linenodiv pre { color: #ccc; }
.highlighttable pre { margin: 0 }
.scrollable-code {overflow: auto; margin: 0 0 11px; }
