---
---

@import 'syntax2';

$link-color: #488A99;
$link-color-hover: #1B4B5A;
$meta-color: #B4B4B4;
$other-color: #DBAE58;
$normal: #333;

a {
	text-decoration: none;
	color: $link-color;
}
a:hover {
	text-decoration: none;
	color: $link-color-hover;
}

.container {
	max-width: 800px;
}

nav.navbar h1 {
	margin: 0;
}

nav.navbar h1 a {
	margin: 0;
	color: $normal;
}

.navbar-default .navbar-nav>li>a {
	color: $link-color;
}
.navbar-default .navbar-nav>li>a:hover {
	color: $link-color-hover;
}

nav.navbar {
	margin-top: 10px;
	padding-top: 10px;
	background-color: #fff;
	border-color: $other-color;
	border-style: none none solid none;
	border-radius: 0;
	padding-bottom: 10px;	
}

div#content>h3 {
	text-align: center;
}

ul.posts {
	list-style: none;
	padding: 0;
}

ul.posts li {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

article header time {
	color: $meta-color;
}

article header h3 {
	margin-top: 0;
}

article header h3 a {
	color: $normal;
}
article header h3 a:hover {
	color: $normal;
}

p {
	text-align: justify;
}

footer {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid $other-color;
	color: $meta-color;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

footer span.credit {
  float: right;
}

img#avatar {
	margin-bottom: 15px;
}