
body {
  font-size: 16px;
  color: #222222;
  line-height: 24px;
  margin: 0;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "open sans", sans-serif;
  font-weight: 600;
}
h1 { font-size: 32px; line-height: 40px; }
h2 { font-size: 24px; line-height: 30px; }
h3 { font-size: 21px; line-height: 24px; margin: 1em 0; }

/* Lists */
ul {
  margin: 1em 0;
  list-style: disc;
}

/* Links */
a { color: #777; }
a:hover { color: #777; }
a:visited { color: #777; }

/* Misc */
table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
 }

/* Sidebar */
.sidebar {
  font-family: "open sans", sans-serif;
}

.sidebar h2 {
  text-align: center;
}

.sidebar p {
  font-weight: 200;
}

.sidebar a {
  font-weight: 600;
}

#gravatar {
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#social {
  border-top: 1px dotted #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  font-size: 13px;
  text-align: center;
}

#social a {
  padding: 5px;
}
#social a:hover {
  color: #333;
}

#bio {
  margin-top: 10px;
}

/* Main content */

.content {
  font: 400 16px/22px "open sans", sans-serif;
  border-left: 1px solid #ddd;
  padding-left: 40px;
  min-height: 400px;
}

/* List of posts */
ul.posts {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

ul.posts span {
  font-family: 'Lucida Console', 'Andale Mono', monospace;
  color: #aaa;
  padding-right: 5px;
  font-size:14px;
}

/* Post */
h1.post-title {
  font-weight: 800;
}

.post-meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.post-tag {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0px 3px;
  color: #333
}

.home {
  font-size: 24px;
  float: right;
  color: #aaa;
}
.home:hover {
  color: #333;
}

.post-content .highlight {
  background-color: white;
}

.post-content pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: .2em;
  margin-bottom: 20px !important;
  font-size: inherit;
}
.post-content code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}
.post-content pre code {
  border: none;
}

.post-content ul,
.post-content ol {
  margin-left: 1.35em;
}

footer {
  font: 400 16px/22px "open sans", sans-serif;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 80%;
  color: #999;
  border-top: 4px solid #eee;
  overflow: hidden;
}
